<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Registro para libros</h1>
      <div id="book"> 
        <form action="/registrar/buscar/libro" method="post">
            <label for="nombreLibro">Titulo:</label>
            <input type="text" name="nombreLibro" id="nombreLibro" placeholder="Ingrese un titulo">
            <br>
            <label for="year">Year:</label>
            <input type="text" name="year" id="year" placeholder="Ingrese el year">
            <br>
            <label for="genero">Genero:</label>
            <input type="text" name="genero" id="genero" placeholder="Ingrese el genero">
            <br>
            <label for="numeroPaginas">Número de pags:</label>
            <input type="text" name="numeroPaginas" id="numeroPaginas" placeholder="Ingrese el num de paginas">
            <br>
            <label for="editorial">Editorial:</label>
            <input type="text" name="editorial" id="editorial" placeholder="Ingrese la editorial">
            <br>
            <label for="autor">Autor:</label>
            <input type="text" name="autor" id="autor" placeholder="Ingrese el autor">
            <br>
            <br>
            <button value="Submit" type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>