<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editorial</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Registro para editorial</h1>
      <div id="book"> 
        <form action="/editorial/creacion" method="post">
            <label for="nombreEditorial">Nombre:</label>
            <input type="text" name="nombreEditorial" id="nombreEditorial" placeholder="Ingrese el nombre" required>
            <br>
            <label for="direccionCorrespondencia">Dirección correspondencia:</label>
            <input type="text" name="direccionCorrespondencia" id="direccionCorrespondencia" placeholder="Ingrese la direccion" required>
            <br>
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" id="telefono" placeholder="Ingrese el telefono" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Ingrese el email">
            <br>
            <label for="librosRegistrados">Max libros publicados:</label>
            <input type="number" name="librosRegistrados" id="librosRegistrados" placeholder="Ingrese el max de libros" required>
            <br>
            <br>
            <button>Registrar</button>
        </form>
    </div>
</body>
</html>